<group-title [name]="gruppe.bezeichnung"
             (onNewGroupName)="onNewGroupName($event)"
             (onDeleteGroup)="onDeleteGroup($event)"
             (onNewPlan)="onNewPlan($event)">
</group-title>
<sus-neu (onNewSus)="onNewSus($event)" [nameList]="anzeigenamen"></sus-neu>
<table>
  <tr class="content" *ngFor="let sus of susList">
    <td class="number"></td>
    <td>{{sus.getLongName()}}</td>
    <td>{{sus.getShortName()}}</td>
    <td>
        <img (click)="deleteSus(sus.id)" src="assets/trash-b.png">
    </td>
  </tr>

</table>
