div.group-title {
  margin-bottom: 30px;
  display: inline-block;
}

.title {
  font-size: 200%;
  margin-right: 30px;
}



div.plan-item:hover {
  background-color: #7ad3d9;
  cursor: pointer;
}

div.plan-item {
  display: inline-block;
  color: #333333;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  background-color: #73a4d2;
  border-radius: 15px;
  transition: background-color 300ms, color 300ms;
}
