div.group-select {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline;
  color: #333333;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  background-color: #77ff74;
  border-radius: 15px;
  transition: background-color 300ms, color 300ms;
}

li:hover, li.add-group:hover {
  background-color: #fffab7;
  cursor: pointer;
}

li a {
  text-decoration: none;
}


li.add-group {
  color: green;
  background-color: #82ffe2;
}

li.add-group:after {
  content: '+';
  font-size: 15pt;
  font-weight: 900;
}


