<form #newSusForm="ngForm"
      (ngSubmit)="addSus(newSusForm); newSusForm.reset()"
      class="vcenter"
>
  <input name="nachname"
         ngModel
         required
         placeholder="Nachname"
         [focus]="myFocusEmitter"
  />
  <input name="anzeigename"
         #anzeigename="ngModel"
         ngModel
         required
         [isNewName]="nameList"
         placeholder="Anzeigename"
  />
  <span *ngIf="anzeigename.hasError('nameInUse')"><strong>Name doppelt !</strong></span>
  <span class="vcenter">
    <img *ngIf="newSusForm.valid"
         (click)="newSusForm.ngSubmit.emit()"
         src="assets/plus.png"
    />
  hinzufügen
    </span>
</form>
