.title {
  font-size: 200%;
}

div.plan-list {
  margin: 30px 0px  0px 0px;
}

div.title {
  margin-right: 12px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 50px;
}

li {
  display: inline;

}

div.plan-item:hover {
  background-color: #7ad3d9;
  cursor: pointer;
}

li a {
  text-decoration: none;
}

div.plan-item {
  display: inline-block;
  color: #333333;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  background-color: #73a4d2;
  border-radius: 15px;
  transition: background-color 300ms, color 300ms;
}

.neuer-plan div.plan-item {
  background-color: #d28c79;
}
.neuer-plan div.plan-item:hover{
  background-color: #54d266;
}
