/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

span {
  margin: 0px 10px;
  text-align: center;
}

img {
  height: 25px;
}

img:hover {
  transition: opacity 200ms;
  opacity: 0.5;
  cursor: pointer;
}

a {
  text-decoration: none;
}

strong {
  color:red;
}

input {
  margin-left: 0;
  margin-right: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  margin-left: 0;
}
.errortext {
  color: darkred;
}

.vcenter {
  display: flex;
  align-items: center;
}

.no-select {
  user-select: none;
}

ul {
  list-style-type: square;
  color: #ff566c;
  line-height: 150%;
}
