/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

span {
  margin: 0px 10px;
  text-align: center;
}

img {
  height: 25px;
}

img:hover {
  transition: opacity 200ms;
  opacity: 0.5;
  cursor: pointer;
}

a {
  text-decoration: none;
}

span.delete {
  content: url("assets/trash-b.png");
  height: 25px;
}

span.delete:hover {
  content: url("assets/trash-b_hover.png");
}

strong {
  color:red;
}

input {
  margin-left: 0px;
  margin-right: 0px;
}

button {
  background-color: transparent;
  border-width: 0px;
  margin-left: 0px;
}
.errortext {
  color: darkred;
}

.vcenter {
  display: flex;
  align-items: center;
}

.no-select {
  user-select: none;
}
