span.titel {
  font-size: 250%;
}

div.planflaeche {
  background-color: rgba(177, 255, 134, 0.73);
  border-radius: 8px;
  transition: width 200ms, height 200ms;
  position: relative;
}

div.cell {
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: left 500ms, top 500ms, background-color 200ms;
}

div.cell:hover {
  background-color: #8fffd6;
}
div.cell.markiert {
  border: 3px dotted red;
}

div.tisch {
  background-color: #cccccc;
  border: 1px solid #4170cd;
  z-index: 10;
}
div.tisch.fest {
  background-color: #999999;
}
div.tisch.fest:hover {
  background-color: #57AD8B;
}

div.cell.lager {
  background-color: #be90b7;
  z-index: 10;
}

div.cell.lager:hover {
  background-color: #916a8a;
}

div.tafel {
  background-color: #00ec00;
}
button {
  height: 50px;
  background-color: #999999;
  margin: 10px 20px;
  border-radius: 8px;
  transition: background-color 200ms;
}
 button:hover {
   background-color: #cccccc;
 }

 div.delete-container {
   display: inline;
 }

 img.delete-plan {
   height: 40px;
   margin-left: 20px;
 }
